* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playpen Sans", cursive;
  font-size: 1.6rem;
  color: #686868;
}

ul,
li {
  list-style: none;
}
